<form method="post" action="{{ path('type_chantier_delete', {'id': type_chantier.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type_chantier.id) }}">
    <button class="btn">Delete</button>
</form>
