<form method="post" action="{{ path('demande_devis_delete', {'id': demande_devi.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ demande_devi.id) }}">
    <button class="btn">Delete</button>
</form>
